.tituloTabla{
    color: rgb(0, 123, 195);
    padding: 15px;
    padding-bottom: 0;
}

p-table .p-datatable-striped tbody > tr:nth-child(even) {
  background-color: #dcecfa !important; /* Cambia este color a lo que necesites */
}

.cabeceraTabla{
    background-color: #d4d9dd !important;
    color: blue !important;
}

.cabeceraTabla tr th{
    background-color: #d4d9dd !important;
    color: blue !important;
}

thead th {
  background-color: #ebebeb !important; /* Azul oscuro */
  color: rgb(6, 107, 179) !important;
  text-align: center !important;
  padding: 10px !important;
  border-bottom: 2px solid #ccc !important;
}

thead tr {
  background-color: #283593 !important;
}

th:hover {
  background-color:rgb(216, 216, 216) !important; /* Azul oscuro */
  color: #001a66 !important;
}

tbody tr {
  color: #5c5d5d !important;
}

tbody td {
  padding: 0px !important;
  padding: 5px 10px !important;
}

.btnTabla:hover{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.estado{
  font-size: 9px !important;
  font-weight: normal !important;
}

.header-busqueda {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.imputBusqueda{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end !important; 
}

.contieneElementosBusqueda{
  /*display: flex; align-items: center; gap: 10px; width: 60%;*/
  width: 100%;
}

.tabla-responsiva {
  min-width: 600px;
  width: 100%;
  overflow-x: auto;
}

/* Estilo para resaltar la página activa en el paginador */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #007ad9 !important;  /* Color de fondo resaltado */
    color: white !important;               /* Color del texto */
    border-radius: 4px !important;         /* Opcional: bordes redondeados */
    font-weight: bold !important;          /* Opcional: texto en negrita */
}

/* Estilo para resaltar la página activa en el paginador */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #007ad9 !important;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,0.3) !important;
}